#screen{
    text-align: center;
    position:relative; left:180px; top:102px; bottom: 200px;
   padding-bottom: 15px;
   width: 300px;
   font-size: large;
   background-color: rgb(114, 222, 221);
    
}
.hai{
    position:relative; left:160px; top:110px; bottom: 200px;
    


}
.button{
    color: beige;
    width: 92px;
    height: 70px;
    background-color: black;
    margin: 10px;
    border-radius: 15px;
}

